<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eid.mapper.SysUserMapper">

<resultMap id="baseResultMap" type="cn.eid.entity.SysUser">
    <result column="user_id"           property="userId"    javaType="long"/>
    <result column="avatar"            property="avatar"/>
    <result column="account"           property="account"/>
    <result column="password"          property="password"/>
    <result column="salt"              property="salt"/>
    <result column="name"              property="name"/>
    <result column="birthday"          property="birthday"/>
    <result column="sex"               property="sex"/>
    <result column="email"             property="email"/>
    <result column="phone"             property="phone"/>
    <result column="status"            property="status"/>
    <result column="create_time"       property="createTime"/>
    <result column="create_user"       property="createUser"/>
    <result column="update_time"       property="updateTime"/>
    <result column="update_user"       property="updateUser"/>
    <result column="version"           property="version"/>
    <result column="idCard"            property="idCard"/>
    <result column="unit_id"           property="unitId"/>
    <result column="unit_name"         property="unitName"/>
    <result column="social_account"    property="socialAccount"/>
    <result column="inspect_company"   property="inspectCompany"/>
    <result column="user_type"         property="userType"/>
    <result column="out_date"          property="outDate"/>
    <result column="validate_code"     property="validateCode"/>
</resultMap>

    <select id="getById" resultType="cn.eid.entity.SysUser">
        select
            user_id,
            avatar,
            account,
            password,
            salt,
            name,
            birthday,
            sex,
            email,
            phone,
            role_id,
            dept_id,
            status,
            create_time,
            create_user,
            update_time,
            update_user,
            version,
            idCard,
            unit_id,
            unit_name,
            social_account,
            inspect_company,
            user_type,
            out_date,
            validate_code
        from sys_user where user_id = #{id}
    </select>
</mapper>
